---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE, HOME, SOCIALS } from "@consts";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import MisskeyUserTimeline from "@components/MisskeyUserTimeline.astro";
import MisskeyHashtag from "@components/MisskeyHashtag.astro";

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const projects: CollectionEntry<"projects">[] = (
  await getCollection("projects")
)
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);

---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <h1 class="font-semibold text-black dark:text-white">
        はるまきざえもんどっとねっと 🐇
      </h1>
      <div class="space-y-16">
        <section>
          <article class="space-y-2">
            <span class="animate">
              <p>ブログとなにかしらの文章等のコンテンツを置く場所です。<br>
                author: <Link href="/about">ハルマキ左衛門 a.k.a. harumaki021</Link>
              </p>
              <p>
              当Webサイトはリンクフリーです。<br>
              [harumakizaemon.net](https://harumakizaemon.net)
              </p>
            </span>
          </article>
        </section>
        <section class="animate space-y-4">
          <h2 class="font-semibold text-black dark:text-white">
            連絡先 Contacts
          </h2>
          <article>
            <p>
              何かありましたら以下の連絡先までどうぞ。MisskeyとDiscordが反応しやすいです。
            </p>
            <ul class="not-prose flex flex-wrap gap-2">
              {
                SOCIALS.map((SOCIAL) => (
                  <li class="flex gap-x-2 text-nowrap">
                  <Link
                    href={SOCIAL.HREF}
                    rel="me"
                    external
                    aria-label={`${SITE.TITLE} on ${SOCIAL.NAME}`}
                    >
                    {SOCIAL.NAME}
                  </Link>
                  {"/"}
                </li>
              ))
            }
            {/* TODO: メール連絡先 */}
            <li>
              <span> Discord </span>
              <span class="font-mono"> @harumaki021 </span>
            </li>
          </ul>
          <span class="flex">
            <p class="text-xs text-gray-300 dark:text-gray-600">
              NOTE: Please don't send messages with JUST “Hi” or “Hello.” Let me
              know your question or request right from the start. 🐰
            </p>
          </span>
        </article>
        </section>
        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between">
            <h2 class="font-semibold text-black dark:text-white">
              ブログ blog
            </h2>
            <Link href="/blog"> もっと見る </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              blog.map((post) => (
                <li>
                  <ArrowCard entry={post} />
                </li>
              ))
            }
          </ul>
        </section>
        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              いろんなもの置き場 projects
            </h2>
            <Link href="/projects"> もっと見る </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              projects.map((project) => (
                <li>
                  <ArrowCard entry={project} />
                </li>
              ))
            }
          </ul>
        </section>
        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-6">
            <h2 class="font-semibold text-black dark:text-white">
              つぶやきを見てみる misskey
              <!-- Misskeyを覗き見ぃ……w -->
            </h2>
            <Link href="https://mi.harumakizaemon.net/@harumaki021" external>
             ===> もっと見る
            </Link>
            <span class="text-sm/7">
              <p>
                自分ひとりでつぶやくためにMisskeyサーバーを運営しています。
                Misskeyでなくても、MastodonやPleromaなどのアカウントからフォローできます。好きなサーバーにアカウントを作って、ぜひリモートフォローしてください。
              </p>
            </span>
          </div>
          <article>
            <div class="flex flex-col items-center space-y-4">
              <MisskeyUserTimeline />
              <MisskeyHashtag />
            </div>
          </article>
        </section>
      </div>
    </aside>
  </Container>
</Layout>
