---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE, HOME, SOCIALS } from "@consts";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const projects: CollectionEntry<"projects">[] = (
  await getCollection("projects")
)
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <h1 class="font-semibold text-black dark:text-white">
        harumakizaemon.net 🐇
      </h1>
      <div class="space-y-16">
        <section>
          <article class="space-y-4">
            <span>
              <p>
                harumakizaemon.netへようこそ
              </p>
            </span>
            <span class="animate">
              <p>
                ハルマキ左衛門 a.k.a. harumaki021
              </p>
              <p>
                ブログとなにかしらの文章等のコンテンツを置く場所です。
              </p>
            </span>
          </article>
        </section>
        <section class="animate space-y-4">
          <h2 class="font-semibold text-black dark:text-white">
            連絡先 Contacts
          </h2>
          <article>
            <p>
              何かありましたらMisskeyへリプライを送るか、以下の連絡先までどうぞ。
            </p>
          </article>
          <ul class="not-prose flex flex-wrap gap-2">
            {
              SOCIALS.map((SOCIAL) => (
                <li class="flex gap-x-2 text-nowrap">
                  <Link
                    href={SOCIAL.HREF}
                    external
                    aria-label={`${SITE.TITLE} on ${SOCIAL.NAME}`}
                  >
                    {SOCIAL.NAME}
                  </Link>
                  {"/"}
                </li>
              ))
            }
            {/* TODO: メール連絡先 */}
            <li class="line-clamp-1">
              <span>
                Discord @harumaki021
              </span>
            </li>
          </ul>
        </section>

        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              ブログ最新記事
            </h2>
            <Link href="/blog"> See all posts </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              blog.map((post) => (
                <li>
                  <ArrowCard entry={post} />
                </li>
              ))
            }
          </ul>
        </section>

        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              いろんなもの置き場
            </h2>
            <Link href="/projects"> See all projects </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              projects.map((project) => (
                <li>
                  <ArrowCard entry={project} />
                </li>
              ))
            }
          </ul>
        </section>

        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Misskeyのつぶやきを見てみる
              <!-- Misskeyを覗き見ぃ……w -->
            </h2>
            <Link href="https://mi.harumakizaemon.net/@harumaki021">もっと見る</Link>
            <iframe title="harumaki021's misskey" src="https://mi.harumakizaemon.net/embed/user-timeline/995p9oamhv?maxHeight=400&rounded=false" data-misskey-embed-id="v1_47c6f150-6c38-4a70-bce3-009c9210f2c3" loading="lazy" referrerpolicy="strict-origin-when-cross-origin" style="border: none; width: 100%; max-width: 700px; height: 300px; color-scheme: light dark;"></iframe>
            <script defer src="https://mi.harumakizaemon.net/embed.js"></script>
          </div>
          <article class="space-y-4">
            <span>
              <p>
                自分でつぶやくために運営しているMisskeyサーバーがあります。
              </p>
              <p>
                MastodonやPleromaなどのアカウントからフォローすることができます。よろしくね
              </p>
            </span>
          </article>
        </section>
        
      </div>
    </aside>
  </Container>
</Layout>
